.btn{
    position: relative;
}


.count{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 18px;
    height: 20px;
    top:0%;
    right: 0%;
    border-radius: 40%;
}
